body {
   background-color: #000001;
   color: #ffffff;
   font-family: arial, helvetica, serif;
   font-size: 1em;
}

div#main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

div#flash {
  display: none;
}

div#menu {
  background-color: #111;
}

div#menu ol {
  list-style: none;
}

div#menu ol li {
  display: inline-block;
  padding: 5px;
}

div#menu a {
  color: white;
  padding: 5px;
}

div#menu a:hover {
  background-color: #333;
}

error{
   color: #903322;
   font-family: arial, helvetica, serif;
   font-size: 1em;
   padding-left: 20px;
}

a {
   text-decoration: none;
   color: #2323c3;
   font-style: normal;
   font-family: verdana, helvetica, serif;
}


form fieldset {
    border: 0;
}

form fieldset legend {
   padding: 0 50%;
   font-weight: bold;
   font-size: 2em;
}
