<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
   <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="main style" charset="utf-8">
   <script type="text/javascript" charset="utf-8" src="../lib/jquery-1.3.2.min.js"></script>
   <script type="text/javascript" charset="utf-8" src="../src/login.js"></script>
	<title>The Path to Ninja</title>
</head>
<body>
   <div id="header">
      <h1>Banner</h1>
   </div>
   
   <div id="login" class="hide">
      <form action="#" name="toLogin" method="post" id="loginForm">
         <fieldset>
            <legend>Login</legend>
               <ol>
                  <li>
                     <label>Login</label>
                     <input type="text" name="user.login" id="username"/><error></error>
                  </li>
                  <li>
                     <label>Senha</label>
                     <input type="password" name="user.password" id="password"><error></error>
                  </li>
                  <input type="button" name="Enviar" value="Submit">
               </ol>
         </fieldset>
      </form>
   </div>
   
   <div id="link_register">
      <cite><a href="#register" title="cadastre-se" id="registerNewUser" onclick="buildRegisterView()">Cadastre-se aqui!</a></cite><br/>
      <cite><a href="#login" title="login" class="hide" id="linkToLogin" onclick="buildLoginView()">Faça login</a></cite><br/>
   </div>
   
   <div id="register" class="hide">
      <form action="#login" name="registerUser" method="post" id="registerForm">
         <fieldset>
            <legend>Cadastro</legend>
               <ol>
                  <li>
                     <label>Login</label>
                     <input type="text" name="user.login" value="" id="registerUsername">   
                  </li>
                  <li>
                     <label>Senha</label>
                     <input type="password" name="user.password" value="" id="registerPassword">
                  </li>   
                  <li> 
                     <label>Confirme a senha</label>  
                     <input type="password" name="user.password.verify" value="" id="registerPasswordVerify">
                  </li>
                  <li>
                     <label>E-mail</label>
                     <input type="text" name="user.email" value="" id="registerEmail">
                  </li>
                  <input type="button" name="register" value="Enviar" id="registerButton">
               </ol>
         </fieldset>
      </form>
   </div>
   
   <div id="footer"></div>
</body>
</html>