<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Javascript for Ninja</title>
	<script type="text/javascript" charset="utf-8" src="../src/palestra.js"></script>
	<link rel="stylesheet" href="css/palestra.css" type="text/css" media="screen" charset="utf-8">
	
	<script type="text/javascript" charset="utf-8">
    function fn(){
      return this;
    }
    
    function Ninja(shurikens, katana){
      this.shurikens = shurikens;
      this.katana = katana;
    }
    
    function Person(shurikens, katana, nome, idade){
      this.nome = nome;
      this.idade = idade;
      
      Ninja.call(this, shurikens, katana);
      
    }
    
    function SrSaude(shurikens, katana, come){
      this.comeVegetal = come;
      this.comeBacon  = false;
      this.comeGoiaba = true;
      
      Ninja.apply(this, arguments);
    }
    
    Person.prototype = new Ninja();
    SrSaude.prototype = new Ninja();
    
          
	  window.onload = function(){
	    var object = new Object();
	    assert( fn.call(this) == window, 'O que vai retornar?');
	    assert( fn() == this , 'Objeto global');
	    assert( fn.apply(object) == object, 'Retorna o objeto?');
	    var person = new Person(2, 1, 'caire', '20');
	    assert( person.shurikens == 2, 'Caire deveria ter duas shurikens, certo?' );
      var luiz = new SrSaude(1, 2, true);
      assert( luiz.comeVegetal, 'Luiz come vegetal, sempre o.O'  );
      log(  luiz.comeVegetal, luiz.comeBacon, luiz.comeGoiaba, luiz.shurikens, luiz.katana  );
	  }
	</script>
</head>

<body>
  <h1>Ninja Task</h1>
  <div id="test_container">
  </div>
</body>
</html>
